.feature{
    width: 100%;
    background-color: $color-light;
    color: $color-dark;
    .container{
        max-width:1024px;
        margin: 0 auto;
        padding: 50px 62px;
        h3{
            font-size: $font-s;
            line-height: $line-height-l;
            text-align: center;
        }
        ul{
            margin-top: 31px;
            display: flex;
            justify-content: space-between;
            li{
                max-width: 260px;
                text-align: center;
                h3{
                    font-size: 18px;
                    line-height: $line-height-m;
                    margin: 20px 0px 11px 0px;
                }
                img{
                    border-radius: 50%;
                }
                p{
                    text-align: left;
                    line-height: $line-height-s;
                }
            }
            @include tablet{
                li{
                    max-width: 200px;
                }
            }
            @media (max-width:655px) {
                margin-top: 0;
                flex-direction: column;
                align-items: center;
                li{
                    max-width: 260px;
                    margin-top: 30px;
                }
            }
        }
    }
    @include pc{
        .container{
            padding: 50px 0px;
            ul{
                justify-content:space-around;
            }
        }
    }
}
.chef{
    background-color: $color-dark;
    width: 100%;
    .container{
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        img{
            width: 470px;
            height: auto;
            padding-left: 42px;
        }
        article{
            color: #EFE9E7;
            padding: 80px 77px 80px 25px;
            height: 460px;
            h3{
                font-size:$font-s;
                line-height:$line-height-l;
            }
            h4{
                line-height: $line-height-s;

            }
            p{
                margin-top: 16px;
                line-height: $line-height-s;
            }
        }
        @media (max-width:975px) {
            img{
                width:380px;
                padding-left: 15px;
            }
            article{
                padding: 49px 25px;
            }
        }
        @include tablet{
            img{
                width: 373px;
                padding-left: 10px;
            }
            article{
                padding: 49px 25px;
            }
        }
        @media (max-width:739px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                padding:20px 0px;
                max-width: 100%;
            }
            article{
                padding: 10px 30px;
                height: auto;
                h3,h4{
                    text-align: center;
                }
            }
        }
        @include phone{
            img{
                padding:0;
                height: 460px;
                
            }
            article{
                padding: 30px 20px;
                height: auto;
                h3,h4{
                    text-align: center;
                }
            }
        }
    }
}
.review{
    background-color: $color-light;
    color: $color-dark;
    .container{
        max-width: 1024px;
        margin: 0 auto;
        padding: 50px 42px;
        text-align: center;
        h3{
            font-size: $font-m;
            line-height: $line-height-l;
        }
        .review-introduce{
            display: flex;
            justify-content: space-between;
            margin-top: 32px;
            li{
                display: flex;
                img{
                    border-radius: 50%;
                    width: 67px;
                    height: 67px;
                }
                article{
                    margin-left: 13px;
                    text-align: left;
                    h4{
                        font-size: 18px;
                        line-height:$line-height-m ;
                        margin: 21.5px 0px;
                    }
                    p{
                        line-height:$line-height-m ;
                    }
                    h5{
                        color:rgba(61,17,0,0.75);
                        text-align: right;
                        margin-top: 16px;
                    }
                }
            }

        }
        @include tablet{
            padding: 50px 0px;
                .review-introduce{
                    justify-content: space-around;
                }
        }
        @media (max-width:655px) {
            .review-introduce{
                flex-direction: column;
                padding: 0 10px;
            }
        }
    }
}
.reservation{
    background: rgba(250,250,250,0.70);
    .container{
        max-width: 1024px;
        margin: 0 auto;
        padding: 50px 42px;
        @include tablet{
            padding: 50px 10px;
        }
        h3{
            font-size:$font-m ;
            line-height: $line-height-l;
            color: $color-dark;
            text-align: center;
        }
        .form{
            margin-top: 38px;
            display: flex;
            justify-content: center;
            
            img{
                max-width: 460px;
                height: 386px;
            }
            form{
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                >label{
                    color: $color-dark;
                    font-family: 'PingFangTCLight';
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 6px;
                }
                >input{
                    width: 460px;
                    height: 32px;
                    line-height: 22px;
                    padding-left: 14px;
                    margin-bottom: 12px;

                    background: #FFFFFF;
                    border: 1px solid #CCCCCC;
                    box-shadow: inset 0px 1px 0px 0px #ECECEC;
                    border-radius: 3px;
                }
                .veg{
                    color: $color-dark;
                    font-size: 14px;
                    line-height: 20px;
                    p{
                        margin-bottom: 6px;
                    }
                    
                    input{
                        width: 16px;
                        height: 16px;
                    }
                }
                .btn{
                    justify-self: end;
                    align-self: flex-end;
                
                    input{
                        margin-top: 30px;
                        width: 70px;
                        padding: 6px 0;
                        font-family: 'PingFangTC-Regular';
                        font-size: 14px;
                        line-height: 20px;
                        color: #FFFFFF;
                        background: #F56C23;
                        border-radius: 3px;
                        border: 0px ;
                        
                    }
                    input:first-child{
                        background: rgba(0,0,0,0.35);
                    }
                }
                
            }
            
            @media (max-width: 968px){
                img{
                    max-width: 363px;
                    height: 386px;
                }
                form{
                    input{
                        width: 300px;
                    }
                }
            }
           
            @media (max-width:762px) {
                flex-direction: column;
                img{
                    width: 100%;
                    margin: 0 auto;
                }
                form{
                    margin: 0 auto;
                    margin-top: 30px;
                    input{
                        width: 300px;
                    }
                }
            }
            @media (max-width:408px) {
                img{
                    width: auto; 
                    height: auto; 
                    max-width: 100%; 
                    max-height: 100%
                }
                form{
                    margin: 30px 0 0 0;
                    input{
                        width: 100%;
                    }
                }
            }
        
        }
    }
}