.login{
    background-color: $color-light;
    width: 100%;
    text-align: center;
    padding: 50px;
    h2{
        font-family: 'NotoSansCJKtc-Black';
        font-weight: bolder;
        font-size: 48px;
        color: $color-dark;
    }
    h3{
        margin-top: 5px;
        font-family: 'NotoSansCJKtc-Medium';
        font-size: $font-s;
        color: $color-dark;
    }
    form{
        margin: 0 auto;
        width: 300px;
        margin-top: 35px;
        background: #EFE9E7;
        box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
        border-top:3px solid $color-orange ;
        padding: 15px;
        position: relative;

        display: flex;
        flex-direction: column;
        h3{
            font-family: 'NotoSansCJKtc-Black';
            font-size: 18px;
            color: $color-dark;
            font-weight: bold;
        }
        label{
            color: $color-dark;
            line-height: $line-height-s;
            text-align: left;
            margin-top: 15px;
        }
        >input{
            width: 270px;
            height: 32px;
            background: #FFFFFF;
            border: 1px solid #CCCCCC;
            box-shadow: inset 0px 1px 0px 0px #ECECEC;
            border-radius: 3px;
            padding: 0 0 0 33px;
        }
        .fa-envelope{
            position: absolute;
            top: 83px;
            left: 24px;
        }
        .fa-lock{
            position: absolute;
            top: 150px;
            left: 25px;
        }
        a{
            text-align: left;
            font-size: 14px;
            color: $color-orange;
            line-height: 19px;
            margin-bottom: 30px;
        }
        .button{
            display: flex;
            justify-content: space-between;
            input{
                width: 125px;
                height: 32px;
                display: block;

                font-family: 'PingFangTC-Regular';
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
                background: #F56C23;
                border-radius: 3px;
                border: 0px ;
            }
            input:first-child{
                background: rgba(0,0,0,0.35);
            }
        }
        @media (max-width:400px) {
            width: 270px;
            >input{
                width: 240px;
            }
            .button{
                input{
                    width: 100px;
                }
            }
            
        }
    }
    @media (max-width:400px) {
        padding:50px 10px;
        
    }
}