/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: "Microsoft JhengHei Regular";
}

*, *::after, *::before {
  box-sizing: border-box;
}

/*font-family:"Microsoft JhengHei Regular"*/
header {
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
}
header .container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px 16px 42px;
}
header .container h1 {
  font-family: "NotoSansCJKtc-Black";
  font-size: 24px;
  color: #FFFFFF;
}
header .container .menu {
  display: flex;
  width: 125px;
  justify-content: space-between;
  line-height: 21px;
}
header .container .showmenu {
  display: none;
}
@media (max-width: 768px) {
  header .container {
    padding: 16px 13px;
  }
}
@media (max-width: 327px) {
  header .container .menu {
    display: none;
  }
  header .container .showmenu {
    display: block;
    font-size: 24px;
  }
}

nav {
  width: 100%;
  height: 420px;
  background-image: url(/asset/header_desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .container {
  background: rgba(0, 0, 0, 0.35);
  max-width: 460px;
  margin: 0 auto;
  text-align: center;
}
nav .container h2 {
  font-size: 36px;
  line-height: 48px;
  padding: 20px 0px 16px 0px;
}
nav .container p {
  line-height: 21px;
  padding: 0 0 26px 0;
}
@media (max-width: 327px) {
  nav .container {
    width: 300px;
  }
}
@media (max-width: 768px) {
  nav {
    background-image: url(/asset/header_mobile.png);
  }
}

footer {
  background-color: #efe9e7;
}
footer .container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 42px;
}
@media (max-width: 768px) {
  footer .container {
    padding: 50px 10px;
  }
}
footer .container .aboutus {
  display: flex;
  color: #3D1101;
}
footer .container .aboutus .introduce h5 {
  font-size: 24px;
  line-height: 32px;
}
footer .container .aboutus .introduce p {
  margin-top: 16px;
  max-width: 299px;
  line-height: 21px;
}
footer .container .aboutus .contact {
  margin-left: 21px;
}
footer .container .aboutus .contact h5 {
  font-size: 24px;
  line-height: 32px;
}
footer .container .aboutus .contact ul {
  margin-top: 16px;
  max-width: 299px;
  line-height: 21px;
}
footer .container .logo h2 {
  font-family: "NotoSansCJKtc-Black";
  font-weight: bolder;
  font-size: 49px;
  color: #3D1101;
  white-space: nowrap;
}
footer .container .logo ul {
  display: flex;
  justify-content: end;
  margin-top: 22px;
}
footer .container .logo li {
  font-size: 36px;
}
footer .container .logo li:nth-child(1) a {
  color: #DB4437;
}
footer .container .logo li:nth-child(2) a {
  color: #41ABE1;
  margin-left: 12px;
  margin-right: 11px;
}
footer .container .logo li:nth-child(3) a {
  color: #3A5795;
}
@media (max-width: 695px) {
  footer .container {
    flex-direction: column;
    justify-content: flex-start;
  }
  footer .container .aboutus {
    justify-content: center;
  }
  footer .container .logo {
    margin-top: 20px;
    text-align: center;
  }
  footer .container .logo ul {
    justify-content: center;
  }
}
@media (max-width: 450px) {
  footer .container .aboutus {
    flex-direction: column;
    margin: 0 auto;
  }
  footer .container .aboutus .contact {
    margin-top: 30px;
    margin-left: 0px;
  }
  footer .container .logo h2 {
    text-align: right;
    letter-spacing: -5px;
  }
  footer .container .logo ul {
    justify-content: flex-end;
  }
}

.feature {
  width: 100%;
  background-color: #efe9e7;
  color: #3d1101;
}
.feature .container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 62px;
}
.feature .container h3 {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}
.feature .container ul {
  margin-top: 31px;
  display: flex;
  justify-content: space-between;
}
.feature .container ul li {
  max-width: 260px;
  text-align: center;
}
.feature .container ul li h3 {
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0px 11px 0px;
}
.feature .container ul li img {
  border-radius: 50%;
}
.feature .container ul li p {
  text-align: left;
  line-height: 21px;
}
@media (max-width: 768px) {
  .feature .container ul li {
    max-width: 200px;
  }
}
@media (max-width: 655px) {
  .feature .container ul {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }
  .feature .container ul li {
    max-width: 260px;
    margin-top: 30px;
  }
}
@media (max-width: 1024px) {
  .feature .container {
    padding: 50px 0px;
  }
  .feature .container ul {
    justify-content: space-around;
  }
}

.chef {
  background-color: #3d1101;
  width: 100%;
}
.chef .container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
}
.chef .container img {
  width: 470px;
  height: auto;
  padding-left: 42px;
}
.chef .container article {
  color: #EFE9E7;
  padding: 80px 77px 80px 25px;
  height: 460px;
}
.chef .container article h3 {
  font-size: 20px;
  line-height: 32px;
}
.chef .container article h4 {
  line-height: 21px;
}
.chef .container article p {
  margin-top: 16px;
  line-height: 21px;
}
@media (max-width: 975px) {
  .chef .container img {
    width: 380px;
    padding-left: 15px;
  }
  .chef .container article {
    padding: 49px 25px;
  }
}
@media (max-width: 768px) {
  .chef .container img {
    width: 373px;
    padding-left: 10px;
  }
  .chef .container article {
    padding: 49px 25px;
  }
}
@media (max-width: 739px) {
  .chef .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .chef .container img {
    padding: 20px 0px;
    max-width: 100%;
  }
  .chef .container article {
    padding: 10px 30px;
    height: auto;
  }
  .chef .container article h3, .chef .container article h4 {
    text-align: center;
  }
}
@media (max-width: 327px) {
  .chef .container img {
    padding: 0;
    height: 460px;
  }
  .chef .container article {
    padding: 30px 20px;
    height: auto;
  }
  .chef .container article h3, .chef .container article h4 {
    text-align: center;
  }
}

.review {
  background-color: #efe9e7;
  color: #3d1101;
}
.review .container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 42px;
  text-align: center;
}
.review .container h3 {
  font-size: 24px;
  line-height: 32px;
}
.review .container .review-introduce {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.review .container .review-introduce li {
  display: flex;
}
.review .container .review-introduce li img {
  border-radius: 50%;
  width: 67px;
  height: 67px;
}
.review .container .review-introduce li article {
  margin-left: 13px;
  text-align: left;
}
.review .container .review-introduce li article h4 {
  font-size: 18px;
  line-height: 24px;
  margin: 21.5px 0px;
}
.review .container .review-introduce li article p {
  line-height: 24px;
}
.review .container .review-introduce li article h5 {
  color: rgba(61, 17, 0, 0.75);
  text-align: right;
  margin-top: 16px;
}
@media (max-width: 768px) {
  .review .container {
    padding: 50px 0px;
  }
  .review .container .review-introduce {
    justify-content: space-around;
  }
}
@media (max-width: 655px) {
  .review .container .review-introduce {
    flex-direction: column;
    padding: 0 10px;
  }
}

.reservation {
  background: rgba(250, 250, 250, 0.7);
}
.reservation .container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 42px;
}
@media (max-width: 768px) {
  .reservation .container {
    padding: 50px 10px;
  }
}
.reservation .container h3 {
  font-size: 24px;
  line-height: 32px;
  color: #3d1101;
  text-align: center;
}
.reservation .container .form {
  margin-top: 38px;
  display: flex;
  justify-content: center;
}
.reservation .container .form img {
  max-width: 460px;
  height: 386px;
}
.reservation .container .form form {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.reservation .container .form form > label {
  color: #3d1101;
  font-family: "PingFangTCLight";
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 6px;
}
.reservation .container .form form > input {
  width: 460px;
  height: 32px;
  line-height: 22px;
  padding-left: 14px;
  margin-bottom: 12px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0px 1px 0px 0px #ECECEC;
  border-radius: 3px;
}
.reservation .container .form form .veg {
  color: #3d1101;
  font-size: 14px;
  line-height: 20px;
}
.reservation .container .form form .veg p {
  margin-bottom: 6px;
}
.reservation .container .form form .veg input {
  width: 16px;
  height: 16px;
}
.reservation .container .form form .btn {
  justify-self: end;
  align-self: flex-end;
}
.reservation .container .form form .btn input {
  margin-top: 30px;
  width: 70px;
  padding: 6px 0;
  font-family: "PingFangTC-Regular";
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  background: #F56C23;
  border-radius: 3px;
  border: 0px;
}
.reservation .container .form form .btn input:first-child {
  background: rgba(0, 0, 0, 0.35);
}
@media (max-width: 968px) {
  .reservation .container .form img {
    max-width: 363px;
    height: 386px;
  }
  .reservation .container .form form input {
    width: 300px;
  }
}
@media (max-width: 762px) {
  .reservation .container .form {
    flex-direction: column;
  }
  .reservation .container .form img {
    width: 100%;
    margin: 0 auto;
  }
  .reservation .container .form form {
    margin: 0 auto;
    margin-top: 30px;
  }
  .reservation .container .form form input {
    width: 300px;
  }
}
@media (max-width: 408px) {
  .reservation .container .form img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .reservation .container .form form {
    margin: 30px 0 0 0;
  }
  .reservation .container .form form input {
    width: 100%;
  }
}

.login {
  background-color: #efe9e7;
  width: 100%;
  text-align: center;
  padding: 50px;
}
.login h2 {
  font-family: "NotoSansCJKtc-Black";
  font-weight: bolder;
  font-size: 48px;
  color: #3d1101;
}
.login h3 {
  margin-top: 5px;
  font-family: "NotoSansCJKtc-Medium";
  font-size: 20px;
  color: #3d1101;
}
.login form {
  margin: 0 auto;
  width: 300px;
  margin-top: 35px;
  background: #EFE9E7;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-top: 3px solid #f56c23;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.login form h3 {
  font-family: "NotoSansCJKtc-Black";
  font-size: 18px;
  color: #3d1101;
  font-weight: bold;
}
.login form label {
  color: #3d1101;
  line-height: 21px;
  text-align: left;
  margin-top: 15px;
}
.login form > input {
  width: 270px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0px 1px 0px 0px #ECECEC;
  border-radius: 3px;
  padding: 0 0 0 33px;
}
.login form .fa-envelope {
  position: absolute;
  top: 83px;
  left: 24px;
}
.login form .fa-lock {
  position: absolute;
  top: 150px;
  left: 25px;
}
.login form a {
  text-align: left;
  font-size: 14px;
  color: #f56c23;
  line-height: 19px;
  margin-bottom: 30px;
}
.login form .button {
  display: flex;
  justify-content: space-between;
}
.login form .button input {
  width: 125px;
  height: 32px;
  display: block;
  font-family: "PingFangTC-Regular";
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  background: #F56C23;
  border-radius: 3px;
  border: 0px;
}
.login form .button input:first-child {
  background: rgba(0, 0, 0, 0.35);
}
@media (max-width: 400px) {
  .login form {
    width: 270px;
  }
  .login form > input {
    width: 240px;
  }
  .login form .button input {
    width: 100px;
  }
}
@media (max-width: 400px) {
  .login {
    padding: 50px 10px;
  }
}

.product {
  width: 100%;
  background-color: #efe9e7;
  color: #3d1101;
}
.product a {
  color: #3d1101;
}
.product .container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 48px 42px 0px 42px;
}
.product .container aside {
  width: 220px;
}
.product .container aside h2 {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 16px;
}
.product .container aside li {
  font-size: 16px;
  line-height: 32px;
  border-bottom: 1px solid #3D1101;
  padding: 1px 8px;
}
.product .container aside li:nth-child(4) {
  background-color: #3D1101;
}
.product .container aside li:nth-child(4) a {
  color: #fff;
}
.product .container .shopping {
  width: 700px;
}
.product .container .shopping .shopping-head {
  display: flex;
  justify-content: space-between;
}
.product .container .shopping .shopping-head .search input {
  width: 424px;
  height: 32px;
  border: 2px solid #3D1101;
  background-color: #efe9e7;
}
.product .container .shopping .shopping-head .search a {
  position: relative;
}
.product .container .shopping .shopping-head .search .fa-magnifying-glass {
  position: absolute;
  left: -2px;
  width: 36px;
  height: 32px;
  padding: 6px 8px 7px 9px;
  background-color: #3d1101;
  color: #fff;
}
.product .container .shopping .shopping-head .cart {
  padding-right: 20px;
  display: flex;
  align-items: center;
  position: relative;
}
.product .container .shopping .shopping-head .cart a {
  display: block;
}
.product .container .shopping .shopping-head .cart a:nth-child(1) {
  line-height: 21px;
  margin-right: 12px;
}
.product .container .shopping .shopping-head .cart .line {
  border: 1px solid #3D1101;
  height: 14px;
  margin-right: 17px;
}
.product .container .shopping .shopping-head .cart .fa-cart-shopping {
  font-size: 27px;
  line-height: 29px;
}
.product .container .shopping .shopping-head .cart .fa-1 {
  position: absolute;
  top: -3px;
  right: 15px;
  width: 16px;
  height: 16px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #f56c23;
  border-radius: 50%;
}
.product .container .shopping .shpping-product ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 26px;
  justify-content: space-between;
  text-align: center;
}
.product .container .shopping .shpping-product ul li {
  width: 220px;
  height: 280px;
  position: relative;
  background: #EFE9E7;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
}
.product .container .shopping .shpping-product ul li .fa-heart {
  position: absolute;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  top: 9px;
  left: 9px;
}
.product .container .shopping .shpping-product ul li img {
  width: 220px;
  height: 120px;
}
.product .container .shopping .shpping-product ul li h4 {
  font-size: 20px;
  line-height: 27px;
  margin-top: 11px;
}
.product .container .shopping .shpping-product ul li h5 {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
}
.product .container .shopping .shpping-product ul li hr {
  width: 91px;
  height: 3px;
  background-color: #3d1101;
  margin-bottom: 20px;
}
.product .container .shopping .shpping-product ul li p {
  margin-bottom: 13px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
.product .container .shopping .shpping-product ul li a:last-child {
  display: block;
  width: 200px;
  height: 28px;
  line-height: 21px;
  border: 2px solid #FF5E45;
  border-radius: 3px;
  color: #f56c23;
  margin: 0 auto;
}
.product .container .shopping .shpping-product ul li:first-child {
  margin-bottom: 30px;
}/*# sourceMappingURL=all.css.map */